@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model  Recipe.WebApp.ViewModels.HomeViewModel
@{
}

<div>
   

    <h2>Featured Recipe</h2>
    <h3>@Model.Featured.Name</h3>
    <p>
        @Model.Featured.Description
    </p>    
</div>